services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: tgdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Dedos2003),
    ports:
      - "5443:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: