services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: tgdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Dedos2003),
    ports:
      - "5443:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: |
      sh -c "
        alembic upgrade head &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=Dedos2003),
      - DB_NAME=tgdb
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  celery_worker:
    build: .
    command: celery -A app.core.worker worker --loglevel=INFO
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=Dedos2003),
      - DB_NAME=tgdb
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - db

volumes:
  postgres_data: